<h3>Where should we ship your items?</h3>

<% @addresses.each do |address| %>
      <div class="panel panel-default address_box">
        <strong><%= address.name %></strong><br/>
        <%= address.address1 %>
        <%= address.address2 %><br/>
        <%= address.city %>,
        <%= address.state %><br/>
        <%= address.zip %>
        <div class="panel-footer">
          <%= link_to 'Ship Here', new_order_path(:address_id => address.id), :class => "label label-primary", :id => "color_white"%>
          <%= link_to 'Edit', add_address_edit_path(:address_id => address.id), :class => "label label-default", :id => "color_white" %>
          <%= link_to 'Delete', add_address_delete_path(:address_id => address.id), :class => "label label-default", :id => "color_white", method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
<% end %>

<div>
<%= link_to 'Add New Address', add_address_path, :class => "label label-default", :id => "color_white" %>
</div>
